<div class="carousel carousel-slider center" data-indicators="true" materialize="carousel">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">按钮</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>第一面板</h2>
        <p class="white-text">这是第一面板</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <h2>第二面板</h2>
        <p class="white-text">这是第二面板</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <h2>第三面板</h2>
        <p class="white-text">这是第三面板</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>第四面板</h2>
        <p class="white-text">这是第四面板</p>
    </div>
</div>